.info {
    background-image: linear-gradient(to right, #00653c, #006b61, #006e89, #006da9, #0065b7);
}

.info_box{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.info_box_text {
    width: 60%;
    height: 100%;
}

.img_content {
    width: 350px;
}

.info_box_text {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info_box_title {
    color: #88e5d6 !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 8vh;
    margin: 2rem 0;
    line-height: 100%;
}


.info_box_description {
    color: #fff;
    font-size: 3vh;
}

.btnCaixa {
    width: 50%;
    padding: 0.75rem 0;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to bottom,#fda917 0%,#fc8f01 100%);
    box-shadow: 0 2px 0 rgb(31 42 71 / 10%);
    color: #fff;
    text-transform: lowercase;
    text-align: center;
    text-decoration: none;
    margin: 2rem 0;
}

.btnCaixa:hover {
    background:  #1a9969;
    box-shadow: 0 0 10px #3f3f3f;
    color: #fff;
}

@media only screen and (max-width: 768px) {

    .info_box{        
        width: 100%;
        text-align: center;   
        background-image: url('/public/assets/homem_pensativo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top right;
    }

    .info_box_text{
        padding: 0 2rem;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
    }

    .img_content, .info_box_img{
        display: none;
    }

    .info_box_text {
        align-self: center;
    }

    .btnCaixa {
      align-self: center;
    }
    

}
