@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  border: 1px solid red;
}